Source: picar
Section: unknown
Priority: optional
Maintainer: Ryan R. Olds <ryanrolds@gmail.com>
Build-Depends: debhelper (>= 9), cmake
Standards-Version: 3.9.5
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://anonscm.debian.org/collab-maint/picar.git
#Vcs-Browser: http://anonscm.debian.org/?p=collab-maint/picar.git;a=summary

Package: picar-brain
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: picar-car
Architecture: armhf
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: picar-doc
Architecture: all
Description: documentation for picar
 <insert long description, indented with spaces>
