[Unit]
Description=Picar Car
After=network.target

[Service]
Type=simple
EnvironmentFile=/etc/default/picar-car
ExecStart=/usr/bin/picar-car
Restart=on-failure

[Install]
WantedBy=multi-user.target
