[Unit]
Description=Picar Car
After=network.target

[Service]
Type=simple
ExecStartPre=/usr/bin/picar-car.pre
ExecStart=/usr/bin/picar-car
Restart=on-failure

[Install]
WantedBy=multi-user.target
